/* CSS of main page */
.home-page{
    /* background-image: url("../img/bricks-bg.jpg");  */
    background-size: cover;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);    
}
.header {
  display: flex;
  height: 300;
  justify-content: space-evenly;
}

/* .home-page {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);     
} */

.first-heading {
    text-align: center;    
}
/* End of CSS of main page */

/* Start of CSS of list-flexbox-lesson-5 */
.nev-bar {
    display: flex;
    height: 300;
    justify-content: space-evenly;
}

.item1 {
    color: blue;
}

.item2 {
    color: grey;
}

.item3 {
    color: red;
}

.main {
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}

.course-plan {
    height: 500;
    justify-content: space-evenly; 
    background-color: yellow;
}

.learning-items {
    height: 500;
    justify-content: space-evenly;
    color: lightgreen;
}

.learning-items > ol {
    list-style-type: lower-latin;
}
/* End of CSS of list-flexbox-lesson-5 */

/* Start of CSS of Attribute-classes-id-lesson-3.html */

  .initials:hover span {
    display: none
  }
  
  .initials:hover:before {
    content: "Ayesha Siddiqa"
  }

#recepie title {
  color: burlywood;
  text-shadow: 0in;
}
.description {
    text-align: justify;
   }

/* End of CSS of Attribute-classes-id-lesson-3.html*/

/* start of css of iframs-lesson-4.html */

iframe {
  border:solid;
  color:blue;
  height:600px;
  width:80%;
  text-align: center;
}

.frames {
  color: black;
  text-underline-position: below;
}

/* End of css of iframs-lesson-4.html */

/* Start of css of forms-lesson-4.html */

form { 
  margin: 0 auto; 
  width:250px;
  padding-left: 20px;
  }

.info-text {
  text-align: center;
}

.heading {
    text-underline-position: below;
    flood-color: blue;
    text-align: center;
  }
/* End of css of forms-lesson-4.html */

/* Start of CSS of lesson-7-exercise */

.outer {
display: flex;
justify-content: center;
align-items: center;
height: 700px;
}

.main-box {
  border: blue 1px solid;
  width: 50vw;
  height: 50vh;
}

* {
  margin: 0;
}
.inner-box {
  background-color: red; 
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
}
.text {
  color: white;
}

/* Start of html&css-lesson-7 */

.lesson-7 {
  background-color: lightskyblue;
  height: 100vh;
}

header {
  text-align: center;
  background-color: aqua;
  color: white;
  width: 100%;
  height: 58px;
  padding-top: 25px;
  font-size: large;
}

.main-container {
  display: flex;
  height: 500px;
  text-align: center;
  margin-top: 30px;
}

aside {
  background-color: lightgreen;
  border: solid 1px;
  width: 25%;
  color: white;
  padding-top: 200px;
  border: none;
}

article {
  background-color: orange;
  width: 75%;
  margin-left: 30px;
  color: white;
  padding-top: 200px;
 
}

.artical-image {
  display: flex;
  justify-content: space-evenly;
  margin-top: auto;
  margin-bottom: 20px;
}
article {
  display: flex;
  flex-direction: column;

}
article > h2 {
  margin: 0;
}
.image-7 {
  color: white;
  background-color: lightsalmon;
  width: 30%;
  text-align: center;
  padding: 100px 0;

}

footer {
  text-align: center;
  background-color: aqua;
  color: white;
  width: 100%;
  height: 58px;
  padding-top: 25px;
  font-size: large;
  margin-top: 30px;
}
/* End of html&css-lesson-7 */

/* start of lesson-8 */

.div-1 {
  background-color: tomato;
  color: white;
}

.div-2 {
  color: tomato;
}

.div-3 {
  background-color: tomato;
}

.parent-div {
  display: grid;
  grid-template-columns:33% 33% 33%;
  border: 1px solid red;
  padding: 2px;

}
.child-div {
  display: grid;
  grid-template-columns:33% 33% 33%;
  border: 1px solid red;
  padding: 2px;
  margin-top: 16px;

}